@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --root-bg: #fff;
    --highlight: #8d4000;
    --light-highlight: #fff1e5;
    --light-highlight2: #fffcfa;
    --highlight2: #ff9100;
    --primary: #161616;
    --secondary: #1E0700;
    --text: #1e1e1e;

    --light-bg: #fafafa;
    --card-bg: #f8f8f8;
    --appstore-bg: #efefef;
    --header: #162F43;

}

body{
    background: var(--root-bg);
    color: var(--text)
}

*{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 2s;
}

.gp-container{
    @apply tw-max-w-[1440px] tw-px-[1.3rem] md:tw-px-[4rem] lg:tw-px-[6rem] xl:tw-px-[10rem] tw-mx-auto
}

.tw-h1{
    @apply tw-text-[32px] tw-leading-[42.4px] sm:tw-text-[40px] sm:tw-leading-[52.4px] md:tw-text-[45.5px] md:tw-leading-[60.4px] lg:tw-text-[53.5px] lg:tw-leading-[69.4px] xl:tw-text-[64px] xl:tw-leading-[86.4px] tw-font-bold
}

.tw-h2{
    @apply tw-text-[28px] tw-leading-[38.6px] md:tw-text-[40px] md:tw-leading-[50.6px] lg:tw-text-[50px] lg:tw-leading-[68.6px] xl:tw-text-[56px] xl:tw-leading-[75.6px] tw-font-semibold
}

.tw-h3{
    @apply tw-text-[20px] tw-leading-[30.2px] md:tw-text-[22px] md:tw-leading-[35.2px] 
}

.tw-p, .tw-button, .tw-a, .gp-a, a{
    @apply tw-text-[15px] tw-leading-[26.6px] md:tw-text-[16px] md:tw-leading-[25.6px]
}

.tw-a{
    text-decoration: none !important;
}

/* .gp-navlink{
    color: var(--header) !important;
}
.gp-navlink:hover{
    color: var(--highlight) !important;
} */

.gp-button{
    @apply tw-rounded-3xl tw-py-3 tw-px-5 tw-shadow hover:tw-scale-105
}

.footer-link{
    @apply tw-text-white tw-text-[14px] tw-leading-[29px] tw-mb-3 tw-block tw-font-[400]
}

.footer-header{
    @apply tw-text-white tw-font-semibold tw-mb-5
}

.icon-link{
    @apply tw-w-[30px] tw-h-[30px]
}


.multi-color-text span{
    @apply tw-text-gray-400
}

.tw-button:hover{
    @apply tw-scale-105
}